<template>
  <div class="success-page">
    <app-header></app-header>
    <div class="exit" :class="{animated:exit, bounceOutUp:exit}" style="animation-duration:2s;">
      <div class="animated fadeIn copied">
        <img src="/assets/hannah.png" alt="logo" class="animated flipInX logo">
        <img src="/assets/check.svg" alt="check" class="animated flipInX check">
        <p class="animated fadeIn text">Se ha copiado el link con éxito</p>
      </div>
    </div>
  </div>
</template>
<script>
import Header from './Header.vue';
export default {
  created() {
    setTimeout(() => {
      this.exit = true;
      setTimeout(()=>this.$router.push(`/create/${this.$route.params.id}`), 1500);
    }, 2000);
  },
  data() {
    return {
      exit: false
    };
  },
  components: {
    'app-header': Header
  }
};
</script>
<style scoped>
.content {
  margin: 0 auto;
  width: 80%;
  position: relative;
}
.logo {
  display: block;
  margin: 3rem auto;
  animation-duration: 1s;
}
.check {
  width: 10rem;
  animation-duration: 1s;
  animation-delay: 1s;
}
.text {
  animation-duration: 1s;
  animation-delay: 1s;
}
@media screen and (min-width: 580px) {
  .content {
    width: 50rem;
    margin: 0 auto;
  }
}
</style>

