<template>
  <div class="create-page">
    <app-loading :active="loading" spinner="spinner" color="#eb184d" />
    <app-header></app-header>
    <div :class="{animated:exit, bounceOutUp:exit}" style="animation-duration:2s;">
      <div class="animated fadeIn content">
        <h2 class="title">CREAR BOTÓN WHATSAPP</h2>
        <div class="editing">
          <div class="description">
            Ingresa el número y el mensaje que deseas enviar
          </div>
          <form class="full">
            <template v-if="editing">
              <label for="phone">Tu número</label>
              <input class="input-phone" type="text" name="phone" v-model="editPhone">
              <i class="fas fa-times cancel" @click="onCancel" v-if="whatsapp.phone"></i>
              <button class="btn save small green" @click="onSavePhone">GUARDAR</button>
            </template>
            <template v-else>
              <label for="phone">Tu número</label>
              <div class="display-phone">{{whatsapp.phone}}</div>
              <i class="fas fa-edit" @click="onEdit"></i>
            </template>
            <div v-if="errors.phone" class="error">
              {{errors.phone}}
            </div>
            <label for="text">Tu mensaje</label>
            <textarea class="full" name="text" v-model="whatsapp.text"></textarea>
            <div v-if="errors.text" class="error">
              {{errors.text}}
            </div>
            <div class="finish">
              <button class="btn save full green" @click="createLink">{{index?'EDITAR':'GENERAR'}} LIGA</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import ElementLoading from 'vue-element-loading';
import Header from './Header.vue';
import config from '../config';
import validator from '../validation';
export default {
  beforeCreate() {
    this.links = JSON.parse(localStorage.getItem('links')) || [];
    this.index = this.$route.params.id !== 'new' ? this.$route.params.id : undefined;
    if (this.index !== undefined) {
      this.editing = false;
      this.whatsapp = {
        phone: this.links[this.index].phone,
        text: this.links[this.index].text
      }
      this.editPhone = this.links[this.index].phone;
    } else {
      this.editing = true; 
      this.whatsapp = {
        phone: '',
        text: ''
      };
      this.editPhone = '';
    }
  },
  beforeRouteEnter (to, from, next) {
    const credentials = JSON.parse(localStorage.getItem('credentials'));
    if (!credentials) {
      return next('/login');
    }
    next();
  },
  data() {
    return {
      editing: this.editing,
      whatsapp: this.whatsapp,
      editPhone: this.editPhone,
      url: '',
      loading: false,
      info: '',
      exit: false,
      success: false,
      errors: {}
    };
  },
  methods: {
    validPhone() {
      const phone = this.editPhone;
      const { valid, error } = validator.phone(phone);
      this.errors = {...this.errors, phone: error};
      return valid;
    },
    validData() {
      let valid = true;
      const validPhone = this.validPhone();
      if(!validPhone) {
        valid = false;
      } 
      if(this.editing) {
        this.errors = {
          ...this.errors,
          phone: 'Guarde el celular'
        };
        valid = false;
      }
      if (!this.whatsapp.text) {
        this.errors = {
          ...this.errors,
          text: 'Debe introducir un mensaje'
        };
        valid = false;
      } else {
        this.errors = {
          ...this.errors,
          text: undefined
        }
      }
      return valid;
    },
    onEdit() {
      this.editing = true;
    },
    onGoBack() {
      this.url = '';
    },
    onSavePhone(e) {
      e.preventDefault();
      const phone = this.editPhone;
      this.whatsapp.phone = phone;
      if (this.validPhone()) {
        this.errors = {};
        this.editing = false;
      }
    },
    onCancel() {
      this.errors = {};
      this.editPhone = this.whatsapp.phone;
      this.editing = false;
    },
    createLink(e) {
      e.preventDefault();
      if (this.validData()) {
        this.loading = true;
        const phone = `521${this.whatsapp.phone}`;
        const url = encodeURI(`${config.whatsapp.base}${phone}?text=${this.whatsapp.text}`);
        const id = (this.index || this.links.length).toString();
        const link = { ...this.whatsapp, date: Date.now(), id, url };
        setTimeout(() => {
          this.links[id] = link;
          this.links = this.links.filter(link => link);
          localStorage.setItem('links', JSON.stringify(this.links));
          this.$router.push(`/create/${id}`);
        }, 1000);
      }
    },
    copyToClipboard() {
      this.$copyText(this.url).then((success) => {
        this.exit = true;
        setTimeout(()=>this.$router.push(`${this.index}/success`), 1500);
      }, (error) => {
        alert('Can not copy, try again later');
      })
    },
    onDone() {
      this.$router.push('/links');
    }
  },
  components: {
    'app-loading': ElementLoading,
    'app-header': Header
  }
};
</script>
<style scoped>
.content {
  margin: 0 auto;
  width: 80%;
  position: relative;
}
.logo {
  display: block;
  margin: 3rem auto;
}
.check {
  width: 12rem;
}
.info {
  transform: translateY(-3rem);
}
.title {
  margin-top: 3rem;
  font-size: 2rem;
  font-weight: bold;
}
.description {
  display: inline-block;
}
.input-phone {
  width: 15rem;
  font-size: inherit;
  padding-right: 3rem;
}
.display-phone {
  display: inline-block;
  font-weight: bold;
}
.fas.fa-edit {
  cursor: pointer;
}
.cancel {
  position: absolute;
  transform: translate(-25px, 12px);
  cursor: pointer;
}
.green {
  background-color: #249c74;
}
.save {
  margin: 0;
  margin-left: 5px;
  padding: 1rem;
  border-left: none;
  border-top: none;
}
.save.small{
  width: 12rem;
}
.tooltip {
  color: white;
  background: #828282;
  padding: .5rem;
}
.finish {
  width: 80%;
  margin: 0 auto;
  padding-top: 3rem;
}
.url {
  margin-top: 6rem;
  margin-bottom: 2.5rem;
}
.btn-link {
  margin-top: 2rem;
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}
a.link {
  color: #3096e0;
}
form {
  margin: 3rem 0;
  text-align: left;
  position: relative;
}
label {
  display: block;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
textarea,
input {
  resize: none;
  border-radius: 3px;
  background-color: #f5f5f5;
  border: 2px solid #dadada;
  padding: 1rem;
  box-sizing: border-box;
}
textarea {
  height: 10rem;
}
@media screen and (min-width: 580px) {
  .content {
    width: 50rem;
    margin: 0 auto;
  }
}
@media screen and (max-width: 343px) {
  .save.small {
    margin: 1rem 0;
  }
}
</style>

