<template>
  <div class="header full">
    <div class="menu" @click="goToList">
      <div class="menu-line"></div>
      <div class="menu-line"></div>
      <div class="menu-line"></div>
    </div>
    <div class="logo" @click="goToCreate">
      <img src="/assets/hannah.png" alt="logo">
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {};
  },
  methods: {
    goToCreate() {
      this.$router.push('/create/new');
    },
    goToList() {
      this.$router.push('/links');
    }
  }
};
</script>
<style lang="scss">
.header {
  height: 5rem;
  background-color: #f3f3f3;
  box-shadow: 1px 0 1px #8c8c8c;
  text-align: left;
  z-index:20;
}
.menu {
  width: 5rem;
  height: 5rem;
  padding: 6px 0;
  box-sizing: border-box;
  border-right: 1px solid #e4e4e4;
  display: inline-block;
  cursor: pointer;
  .menu-line {
    background-color: #eb184d;
    height: 3px;
    margin: 7px 1rem;
  }
}
.logo {
  cursor: pointer;
  display: inline-block;
  height: 5rem;
  img {
    margin: 1rem 0;
    margin-left: 1rem;
    height: 3rem;
  }
}
/* @media only screen and (min-width: 580px) { 
  .header {
    height: 7rem;
    background-color: #f3f3f3;
    box-shadow: 1px 0 1px #8c8c8c;
    text-align: left;
  }
  .menu {
    width: 7rem;
    height: 7rem;
    padding: 7px 0;
    box-sizing: border-box;
    border-right: 1px solid #e4e4e4;
    display: inline-block;
    cursor: pointer;
    .menu-line {
      background-color: #eb184d;
      height: 6px;
      margin: 10px 1rem;
    }
  }
  .logo {
    cursor: pointer;
    display: inline-block;
    height: 5rem;
    img {
      margin: 1rem 0;
      margin-left: 2rem;
      height: 4rem;
    }
  }
} */
</style>

