<template>
  <div>
    <app-header></app-header>
    <div class="title">HISTORIAL DE LIGAS CREADAS</div>
    <div class="container full animated fadeInUp">
      <div class="filters">
        <div class="date-filter">
          <div class="date">
            <label for="from" class="filter">Desde:</label>
            <app-datepicker :lang="lang" @change="dateValidator('from', $event)" v-model="filter.from"></app-datepicker>
          </div>
          <div class="date">
            <label for="to" class="filter">Hasta:</label>
            <app-datepicker :lang="lang" @change="dateValidator('to', $event)" v-model="filter.to"></app-datepicker>
          </div>
        </div>
        <div class="error" v-if="errors.date">
          {{errors.date}}
        </div>
        <div class="id-filter" style="position:relative">
          <input type="text" class="search-box" placeholder="Buscar..." v-model="filter.text">
          <i class="fas fa-search"></i>
        </div>
        <div class="info animated fadeOut" v-if="info">{{info}}</div>
      </div>
      <div class="info animated fadeOut" v-if="info"><i class="fas fa-info-circle"></i> {{this.info}}</div>
      <div v-for="link in displayLinks()" :key="link.id" class="link-info">
        <div class="line">
          <div class="item">
            <label>Fecha</label>
            {{moment(Date(link.date)).format('L')}}
          </div>
          <div class="item">
            <label>Mensaje</label>
            {{link.text.length>=57 ? `${link.text.slice(0,57)}...` : link.text}}
          </div>
        </div>
        <div class="line">
          <div class="item">
            <label>Celular</label>
            {{link.phone}}
          </div>
          <div class="item center">
            <label>Tasa de apertura</label>
            <strong>
              {{(Math.random()*100).toFixed(0)}}%
            </strong>
          </div>
          <div class="item center">
            <i class="far fa-copy red" @click="copyToClipboard(link.id)"></i>
            <i class="far fa-edit blue" @click="onEdit(link.id)"></i>
          </div>
        </div>
      </div>
      <div>
        <button 
          v-for="page in Math.ceil(links.length/5)" 
          :key="page" 
          :class="{ selected: selectedPage === page, nav: true }"
          @click="selectedPage=page">{{page}}</button>
      </div>
      <div class="no-items" v-if="!links.length">
        No se han creado links...
      </div>
    </div>
  </div>
</template>
<script>
  import DatePicker from 'vue2-datepicker'
  import moment from 'moment';
  import _ from 'lodash';
  import Header from './Header.vue';
  import config from '../config';
  export default {
    beforeCreate() {
      this.links = JSON.parse(localStorage.getItem('links')) || [];
    },
    beforeRouteEnter (to, from, next) {
      const credentials = JSON.parse(localStorage.getItem('credentials'));
      if (!credentials) {
        return next('/login');
      }
      next();
    },
    data() {
      return {
        filter: {
          from: '',
          to: '',
          text: ''
        },
        lang: config.datepicker.es,
        info: '',
        selectedPage: 1,
        errors: {},
        infoTimeout: null
      }
    },
    methods: {
      moment,
      copyToClipboard(index) {
        const link = _.find(this.links, (link) => link.id === index);
        this.$copyText(link.url).then((success) => {
         this.info="Copiado!";
         setTimeout(() => this.info = '', 3000);
        }, (error) => {
          alert('Can not copy, try again later');
        })
      },
      onEdit(index) {
        this.$router.push(`/create/${index}`)
      },
      displayLinks() {
        let links = this.links;
        if (this.filter.from) {
          links = links.filter(link => moment(link.date).toDate() >= moment(this.filter.from).startOf('day').toDate())
        }
        if (this.filter.to) {
          links = links.filter(link => moment(link.date).toDate() <= moment(this.filter.to).endOf('day').toDate())
        }
        if (this.filter.text) {
          const re = new RegExp(this.filter.text, 'i')
          links = links.filter(link => (link.phone.match(re) || link.text.match(re)));
        }
        const from = (this.selectedPage-1)*5;
        links = links.slice(from);
        if (links.length > 5) {
          links = links.slice(0, 5);
        }
        return links;
      },
      dateValidator(dateType, date) {
        const errors = this.errors;
        delete errors.date;
        switch(dateType) {
          case 'to':
            if (this.filter.from && this.filter.from > date) {
              errors.date = `Seleccione una fecha mayor a ${moment(this.filter.from).format('YYYY-MM-DD')}`;
              this.filter.to = '';
            }
          case 'from':
            if (this.filter.to && this.filter.to < date) {
              errors.date = `Seleccione una fecha menor a ${moment(this.filter.to).format('YYYY-MM-DD')}`;
              this.filter.from = '';
            }
        }
        this.errors = errors;
      }
    },
    components: {
      'app-header': Header,
      'app-datepicker': DatePicker
    }
  }
</script>
<style lang="scss" scoped>
  .container {
    position: relative;
  }
  .title {
    background: #eb184d;
    color: white;
    padding: 1rem;
    text-align: left;
  }
  .limited {
    width: 80rem;
    margin: 0 auto;
  }
  .search-box {
    box-sizing: border-box;
    border: 1px solid #cecece;
    padding: 7px;
    width: 80rem;
    margin: 1rem .5rem;
    background: #f7f7f7;
  }
  .fas.fa-search {
    color: #8f8f8f;
    position: absolute;
    right: 2%;
    top: 16px;
    cursor: pointer;
  }
  .far {
    color: white;
    padding: 1rem;
    border-radius: 3px;
    cursor: pointer;
  }
  .red {
    background: #eb184d;
  }
  .blue {
    background: #20486b;
  }
  .center {
    text-align: center;
  }
  .link-info {
    display: flex;
    width: 90%;
    margin: 1rem auto;
    flex-direction: column;
    .line {
      display: flex;
      flex: 1;
      text-align: left;
      .item{
        flex: 1;
        margin: 1px;
        padding: 1rem;
        background: #e6e6e6;
        label{
          display: block;
          font-size: 1.2rem;
          margin-bottom: 5px;
        }
      }
    }
    .far {
      margin-bottom: 2px;
    }
  }
  label.filter {
    font-weight: bold;
    display: block;
    color: #20486b;
  }
  
  .filters{
    width: 80%;
    text-align: left;
    margin: 0 auto;
  }
  .date-filter {
    margin-left: 1rem;
    display: flex;
  }
  .date {
    margin: 5px 0;
    flex: 1;
    padding: 5px;
  }
  .id-filter {
    position: relative;
    width: 92%;
    margin: 0 7px;
    input {
      width: 100%;
    }
  }
  .mx-datepicker {
    position: relative;
    display: inline-block;
    width: 90%;
  }
  input.mx-input {
    background: #3f576f !important;
    color: white !important;
  }
  .nav {
    margin-bottom: 1rem;
    padding: 1rem;
    border: none;
    background: white;
    border-radius: 5px;
    margin: .5rem;
    cursor: pointer;
    outline: none;
    &.selected {
      background: #eb184d;
      color: white;
    }
  }
@media screen and (min-width: 580px) {
  .container {
    width: 50rem;
    margin: 0 auto;
  }
}
</style>

