<template>
  <div class="login-page animated fadeIn">
    <app-loading :active="loading" spinner="spinner" color="#eb184d" />
    <div class="login-form">
      <div class="content">
        <img src="/assets/hannah.png" class="logo">
        <div class="data">
      </div>
        <form>
          <input class="full" type="email" placeholder="e-mail" v-model="user.email">
          <input class="full" type="password" placeholder="Contraseña" v-model="user.password">
          <div class="error" v-if="errors.email" @keyup="validData()">{{errors.email}}</div>
          <div class="error" v-if="errors.password">{{errors.password}}</div>
          <div class="error" v-if="errors.login">{{errors.login}}</div>
          <button class="btn full" @click="onLogin">INICIAR SESIÓN</button>
          <a class="link">Olvidé mi contraseña</a>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
import config from '../config';
import ElementLoading from 'vue-element-loading';
export default {
  name: 'login',
  data() {
    return {
      user: {
        email: '',
        password: ''
      },
      loading: false,
      errors: {}
    };
  },
  methods: {
    checkCredentials(cb) {
      setTimeout(() => {
        if (this.user.email === config.user.email && this.user.password === config.user.password) {
          return cb()
        } else {
          return cb('El email o la contraseña son incorrectos');
        }
      }, 1000);
    },
    validData() {
      let isValid = true;
      if (!this.user.email) {
        this.errors = { ...this.errors, email: 'Introduzca un email'}
        isValid = false;
      } else if (!this.user.email.match(config.re.email)) {
        this.errors = { ...this.errors, email: 'Introduzca un email válido'}
        isValid = false;
      }
      if (!this.user.password) {
        this.errors = { ...this.errors, password: 'Introduzca la contraseña'}
        isValid = false;
      }
      if (isValid) {
        this.errors = {};
      }
      return isValid
    },
    onLogin(e) {
      e.preventDefault();
      if (this.validData()) {
        this.loading = true;
        this.checkCredentials((err) => {
          if (err) {
            this.errors = { ...this.errors, login: err};
          } else {
            localStorage.setItem('credentials', JSON.stringify(this.user));
            this.$router.push('/create/new')
          }
          this.loading = false;
        });
      }
    }
  },
  components: {
    'app-loading': ElementLoading
  }
};
</script>
<style scoped>
.content {
  margin: 0 4rem;
}
.login-page {
  font-size: 1.7rem;
  background: #f3f3f3;
  height: 100vh;
}
.login-form {
  padding-top: 5rem;
}
.logo {
  width: 15rem;
  margin: 4rem auto;
}
.data {
  width: 32rem;
  margin: 0 auto;
}
.link {
  display: inline-block;
  text-decoration: underline;
  cursor: pointer;
  margin: 2rem auto;
}

input {
  font-size: inherit;
  text-align: center;
  display: inline-block;
  margin: 10px 0;
  padding: 1.6rem;
  border: 2px #dcdcdc solid;
  box-sizing: border-box;
}
@media screen and (min-width: 580px) {
  .content {
    width: 50rem;
    margin: 0 auto;
  }
}
</style>