<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'app',
  data() {
    return {
      msg: 'Welcome to Your Vue.js App'
    };
  }
};
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
h1,
h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  width: 100vw;
  text-size-adjust: 150%;
}

button.btn {
  display: inline-block;
  background: #eb184d;
  color: white;
  margin: 10px 0;
  margin-top: 2rem;
  padding: 1.6rem;
  cursor: pointer;
  text-align: center;
  font-size: inherit;
  font-weight: bold;
  border: 1px solid white;
  box-shadow: 1px 1px 1px grey;
  box-sizing: border-box;
}
input {
  border-radius: 3px;
  outline: none;
}
.full {
  width: 100%;
}
.error {
  text-align: left;
  margin: 1rem 0;
  color: red;
  font-size: 1.2rem;
  border-radius: 3px;
  background-color: #ffcaca;
  padding: 1rem;
  box-sizing: border-box;
}
.info {
  text-align: left;
  margin: 1rem auto;
  color: white;
  font-size: 1.2rem;
  border-radius: 3px;
  background-color: #28a5bb;
  padding: 1rem;
  box-sizing: border-box;
  animation-duration: 3s;
  transition: all .2s ease;
  width: 92%;
}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
  select,
  textarea,
  input {
    font-size: 16px;
  }
}
</style>
